<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" type="text/css">
  
  <link rel="stylesheet" href="/dashboard.css" type="text/css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.6/socket.io.min.js"></script>

  <script src="/js/dashboardClient.js"></script>
</head>
<body>
  <h1>Dashboard</h1>
    <input type="text" id="backgroundColor" value="#000000" />
    <button id="setBackgroundColor">Set background color</button>
  <div class="scenes">
    {{#each imageUrls}}
    <div>
        <img src="{{this}}" alt="Scene image preview" onclick="newScene({{@index}})"/>
    </div>
    {{/each}}
  </div>
</body>
</html>